body{
    padding: 0;
    background-color:#705E71 ;
    user-select: none;
}
.cntr{
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 827px;
    height: 797px;
}
img{
    width:100px ;
    height: 100px;
}
.up-downbtn{
    text-align: center;
    width: 495px;
    height: 100px;
    margin-inline-start: auto; 
    margin-inline-end: auto;
    cursor: pointer;
}
.cntr2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-rightbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 102px;
    height: 391px;
    cursor: pointer;
}
.d-numbers{
    padding: 33px 21px;
    width: 585px;
    height: 387px;
    background-color: #1D4250;
    margin: 20px  ;
}        
.l-numbers{
    width: 100%;
    height: 76px;
    display: flex;
    justify-content: space-between;
}
.mb{
    margin-bottom: 28px;
}
.number{
    width: 120px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13BCA5;
    color: white;
    font-size: 40px;
    font-family: 'Segoe UI', Regular;
    cursor: pointer;
}
.ft{
    display: flex;
    height: 87px;
    width: 90%;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.score{
    width: 50%;
    display: flex;
    font-size: 50px;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-left: 20px;
}
.score > div{
    width: 100%; 
    font-weight: bold;
    text-align: center;
    background-color:#00000023 ;
}
.restart img{
    width: 56px;
    height: 56px;
}
.restart{
    width: 300px;
    height: 87;
    background-color: #FFFFFF30;
    margin-left:40px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    font-family: 'Segoe UI';
    color: #FF0000;
    cursor: pointer;
}
.b-n{
    opacity: 25%;
}